<div class="row">
  <div class="col-xs-offset-3 col-xs-6">
    <div class="form-group">
      <label class="sr-only" for="email">Email</label>
      <input type="text"
             class="form-control"
             name="email"
             ng-model="$ctrl.user.email"
             placeholder="{{ $ctrl.user.email }}">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-offset-3 col-xs-6">
    <div class="form-group">
      <label class="sr-only" for="first_name">First Name</label>
      <input type="text"
             class="form-control"
             ng-model="$ctrl.user.first_name"
             placeholder="{{ $ctrl.user.first_name }}">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-offset-3 col-xs-6">
    <div class="form-group">
      <label class="sr-only" for="last_name">Last Name</label>
      <input type="text"
             class="form-control"
             ng-model="$ctrl.user.last_name"
             placeholder="{{ $ctrl.user.last_name }}">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-offset-5 col-xs-3" style="text-align: right">
    <button class="btn btn-warning">Back</button>
  </div>
  <div class="col-xs-3">
    <button class="btn btn-primary">Save</button>
  </div>
</div>
